@import "tailwindcss";
@import "tw-animate-css";

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  /* color: var(--foreground); */
  background-color: #070010;
}

@layer components {
  .container1 {
    @apply px-17.5 mx-auto;
  }
}

@layer utilities {
  .border-test {
    @apply border-1 border-green-400;
  }

  @keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-wave {
    animation: wave 3s ease-in-out infinite;
  }

  /* Custom styles for the accordion */
  .accordion-content-wrapper {
    overflow: hidden;
  }

  /* Custom chevron styles for accordion */
  [data-state="open"] .accordion-chevron {
    transform: rotate(180deg);
  }

  .accordion-chevron {
    transition: transform 0.2s;
  }

  .gradient-border-mask {
    position: relative;
  }

  .gradient-border-mask::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    border: 1px solid transparent;
    background: linear-gradient(180deg, #2f2548, #7e6ca9) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }

  .cardContainer {
    height: 100vh;
    position: sticky;
    top: 5%;
    .card {
      position: relative;
      width: auto;
      height: 300px;
    }
  }
}
